<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <button class="btn-close" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="titleModal">
    <h2>Crear Nueva Tarea</h2>
  </div>

  <div class="containerInput">
    <label for="title">Nombre de la tarea:</label>
    <input id="title" formControlName="title" />
    <div class="error" *ngIf="form.get('title')?.invalid && form.get('title')?.touched">
      Este campo es requerido.
    </div>
  </div>

  <div class="containerInput">
    <label for="deadline">Fecha límite:</label>
    <input id="deadline" type="date" formControlName="deadline" />
    <div class="error" *ngIf="form.get('deadline')?.invalid && form.get('deadline')?.touched">
      Este campo es requerido.
    </div>
  </div>

    <h3>Personas Asociadas:</h3>
    
  <div class="containerPeople" formArrayName="people">
    <div class="inputsPeople" *ngFor="let person of people.controls; let i = index" [formGroupName]="i">
      <div class="containerInput">
        <label for="name-{{i}}">Nombre completo:</label>
        <input id="name-{{i}}" formControlName="name" />
        <div class="error" *ngIf="person.get('name')?.invalid && person.get('name')?.touched">
          Este campo es requerido.
        </div>
      </div>

      <div class="containerInput">
        <label for="age-{{i}}">Edad:</label>
        <input id="age-{{i}}" type="number" formControlName="age" />
        <div class="error" *ngIf="person.get('age')?.invalid && person.get('age')?.touched">
          Este campo es requerido y debe ser mayor que 0.
        </div>
      </div>

      <div class="containerInput" formArrayName="skills">
        <div class="containerBtnAddPerson">
          <label>Habilidades:</label>
          <mat-icon class="iconAddSkill" (click)="addSkill(i)">add</mat-icon>
        </div>
        <div class="skillInput" *ngFor="let skill of skills(i).controls let j = index">
          <input [formControlName]="j" />
          <button type="button" (click)="removeSkill(i, j)">X</button>
        </div>
        
      </div>
      <div class="containerBtnAddPerson">
        <p>Eliminar persona</p>
        <mat-icon class="iconDeletePerson" (click)="removePerson(i)">delete</mat-icon>
      </div>
    </div>
    <div class="containerBtnAddPerson">
      <mat-icon class="iconAddPeople" (click)="addPerson()">person_add</mat-icon>
    </div>
  </div>
  <div *ngIf="people.hasError('duplicateName')">
    <p>Los nombres no pueden repetirse.</p>
  </div>

  <button class="btn-save" type="submit" [disabled]="form.invalid
  " >Guardar Tarea</button>
</form>
