<!-- Toolbar -->

<div class="container">
  <div class="toolbar">
    <h1>Gestion de tareas</h1>
  </div>

  <app-form *ngIf="isOpenModal" (closeModal)="closeModal()"></app-form>
  <div class="task-list">
    <div class="task-list__header">
      <h2>Lista de tareas</h2>
      <button (click)="openModal()">Añadir tarea</button>
    </div>
    <div class="task-list__filters">
      <button (click)="filterTasks('all')">Todas</button>
      <button (click)="filterTasks('completed')">Completadas</button>
      <button (click)="filterTasks('pending')">Pendientes</button>
    </div>
    <div class="list">
      <div class="list-item" *ngFor="let task of filteredTasks$ | async">
        <div class="task-card">
          <input
            class="task-card__checkbox"
            type="checkbox"
            [checked]="task.completed"
            (change)="toggleTask(task)"
          />
          <h3>{{ task.title }} - {{ task.deadline | date : "dd/MM/yyyy" }}</h3>
        </div>
        <div class="content-people">
          <h4>{{ task.people.length }} personas asociadas:</h4>
          <ul>
            <li *ngFor="let person of task.people">
              <p>{{ person.name }} - {{ person.age }} años</p>
              <ul class="content-skills">
                <h4>Habilidades:</h4>
                {{
                  person.skills.join(", ")
                }}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
